h1{
    color: rgb(0, 0, 0);
}
.cardBox{
    display: flex;
}
.card{
    height: 300px;
    width: 200px;
    margin-right: 50px;
    border: 1px solid black;
    margin-bottom: 6px;
    border-radius: 5px;
} 
.card:hover{
    box-shadow: 2px 2px 10px grey;
}
.img{
    height : 60%;
    width : 198px;
    border-bottom: 1px solid black;
}
#img1{
    background-image: url(https://th.bing.com/th/id/OIP.ojiMo1kaujv8PL6K2iCCTgHaHa?w=193&h=193&c=7&r=0&o=7&pid=1.7&rm=3);
    background-size: cover;
}
#img2{
    background-image: url(https://th.bing.com/th/id/OIP.f4dH-gPD6MXJrZGZjrhEOQHaHa?w=178&h=180&c=7&r=0&o=7&pid=1.7&rm=3);
    background-size: cover;
}
#img3{
    background-image: url(https://th.bing.com/th/id/OIP.EvplPjZ-d7vge_K1sIUGIAHaE8?w=256&h=180&c=7&r=0&o=7&pid=1.7&rm=3);
    background-size: cover;
}
.details{
    text-align: center;
    margin-top: 10px;
    padding-top: 20px;
    line-height: 1.5;
}
#description{
    display: flex;
}
.info{
    border: 1px solid black;
    margin-right: 5px;
    padding: 5px;
    display: none;
}
.dis{
    border: 1px solid black;
    margin-right: 5px;
    padding: 5px;
}
